html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #1a1a1a;
}


body::-webkit-scrollbar-track
{
	background-color: transparent;
}

body::-webkit-scrollbar
{
	width: 10px;
}

body::-webkit-scrollbar-thumb
{
	background-color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p img {
  width:750px;
  margin: 5px auto;
}
pre {
  background-color: rgba(0, 0, 0, 0.548);
  width: 760px;
  padding: 6px 18px;
}
code {
  width: 100%;
  color: white;
  scroll-behavior: smooth;
  overflow-x: scroll;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.tag-item {
  border: 1px dotted yellow;
  border-radius: 15px;
  color: white;
  padding: .25em 1em .25em 1em;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.fix {
  position: fixed;
  z-index: 9;
  width: 100vw;
}

.navbar-transition {
  transition: transform 0.3s ease-in-out;
}

.secondary-background {
  background: #282828;
}

.tertiary-background {
  background: #3e3e3e;
}

.light-background {
  background: #656565;
}

.search-head {
  padding: 0.5rem 1rem;
  color: white;
}

.mobile-bar {
    position: absolute;
    top: 55px;
    z-index: 6;
    width: 100vw;
    border-top: 1px dashed black;
    left: 0;
}

.mobile-bar ul a li {
  border-radius: 0.5em;
  text-align: center;
}

.mobile-bar ul a:hover{
  background: #3e3e3e;
}

.search-form {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-clip: padding-box;
  border: 0px solid #ced4da;
  border-radius: 0.5rem 0 0 0.5rem;
}

.go-btn {
  width: 5rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

.search-form::placeholder {
  color: #fff5;
}

.search-form:focus{
  outline: none;
}

.search-container {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
}

.head-container {
  margin-bottom: 4rem;
}

.navbar-header {
    font-size: 26px;
    margin-bottom: 0;
    background: -webkit-linear-gradient(45deg, #fff, #dec48b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-weight: 600;
}

.tag-container {
  width: 100%;
  overflow: hidden;
  margin: 0px;
  transition: max-height 0.5s ease;
  height: 100%;
}

.tag-container.expanded {
  max-height: 100%;
}

.toggle-height-btn {
  display: block;
  margin-top: 1rem;
}

.expand-button {
  width: 100px;
  margin-left: calc(50% - 50px);
  margin-right:calc(50% - 50px);
  background: transparent;
  border: 0px;
  color: white;
  font-weight: 300;
  padding: 15px;
  font-size: 16px;
}

.banner-dimensions {
  background-size: 100vw calc(100vw *0.265);
  width:100vw;
  height: calc(100vw *0.265);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}