html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #1a1a1a;
}


body::-webkit-scrollbar-track
{
	background-color: transparent;
}

body::-webkit-scrollbar
{
	width: 10px;
}

body::-webkit-scrollbar-thumb
{
	background-color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #DC9B20;
}

* {
  box-sizing: border-box;
}

p img {
  width:750px;
  margin: 5px auto;
}
pre {
  background-color: rgba(0, 0, 0, 0.548);
  width: 760px;
  padding: 6px 18px;
}
code {
  width: 100%;
  color: white;
  scroll-behavior: smooth;
  overflow-x: scroll;
}

.card {
  border: 2px solid #A9A8A7;
  
}

.card:hover {
    background: #DC9B20;
    border: 2px solid #DC9B20;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.tag-item {
  border-radius: 15px;
  color: white;
  font-size: 1.1rem;
  padding: .25em 1em .25em 1em;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  opacity: .8;
  cursor: pointer;
}

.title-shadow {
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.banner-title {
  width: 100%;
  text-align: center;
  font-size: 6vw;
  padding-top: 15px;
  padding-left: 25%;
  padding-right: 25%;
  margin-bottom: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.tag-item:hover {
  opacity: 1; 
}

.tag-item a:hover {
  color: inherit;
}

.fix {
  position: fixed;
  z-index: 9;
  width: 100vw;
  top: 0px;
}

.navbar-transition {
  transition: transform 0.3s ease-in-out;
}

.secondary-background {
  background: #282828;
}

.tertiary-background {
  background: #3e3e3e;
}

.light-background {
  background: #656565;
}

.mobile-bar {
    position: absolute;
    top: 55px;
    z-index: 6;
    width: 100vw;
    border-top: 1px dashed black;
    left: 0;
}

.mobile-bar ul a li {
  border-radius: 0.5em;
  text-align: center;
}

.mobile-bar ul a:hover{
  background: #3e3e3e;
}

.search-form {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-clip: padding-box;
  border: 0px solid #ced4da;
  border-radius: 0.5rem 0 0 0.5rem;
}

.go-btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 5rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background: #DC9B20;
  color: white;
}

.go-btn:focus {
  width: 5rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background: #DC9B20;
  color: white;
}

.go-btn:hover {
  background: #CC8B10;
  color:white;
  
}

.go-btn:active {
  background: #BC7B00;
  color:white;
  box-shadow: None;
}

.search-form::placeholder {
  color: #fff5;
}

.search-form:focus{
  outline: none;
}

.search-container {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
}

.head-container {
  margin-bottom: 4rem;
}

.navbar-header {
    font-size: 26px;
    margin-bottom: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-weight: 600;
    display: flex;
    gap: 5px;
}

.tag-container {
  width: 100%;
  overflow: hidden;
  margin: 0px;
  transition: max-height 0.5s ease;
  height: 100%;
}

.tag-container.expanded {
  max-height: 100%;
}

.toggle-height-btn {
  display: block;
  margin-top: 1rem;
}

.expand-button {
  width: 150px;
  margin-left: calc(50% - 75px);
  margin-right:calc(50% - 75px);
  background: #28282880;
  border: 0px;
  color: white;
  font-weight: 300;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 2px;
}

.expand-button:hover {
  background: #28282890;
}

.expand-button:active {
  background: #282828;
}

.card-head{
  border-radius: 5px 5px 0 0;
  padding: 0.5rem 1rem;
  color: white;
}

.card-body{
  border-radius: 0 0 5px 5px;
}

.card-date {
  margin-bottom: 0px;
}

.transparent-effect {
  width: 100%;
  height: 100%;
  background: linear-gradient(#282828 0%,transparent 15%, transparent 85%, #1a1a1a)
}

.banner-dimensions {
  background-size: 100vw calc(100vw *0.265);
  width:100vw;
  height: calc(100vw *0.265);
}

.posts-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-container {
	min-height: 250px;
	width: 100%;
	color: white;
	padding: 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
  z-index: 0;
}

.card-img-container {
  width: 100%;
  height: 100%;
  -webkit-mask-image: linear-gradient(90deg, transparent 30%, black 80%);
  mask-image: linear-gradient(90deg, transparent 30%, white 80%);
  position: absolute;
  background-size: cover;
  background-position-x: right;
  z-index: -1;
  cursor: pointer;
}
.card-img {
	width: 100%;
	height: 100%;
}
.tags-container {
  max-height: 2.2em;
  overflow: hidden;
}
.tags-list {
	display: flex;
	flex-direction: row;
}
.listed-tag {
	 list-style-type: none;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  max-width: 65%;
  justify-content: space-evenly;
  gap: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .cardContent {
    max-width: 80%;
  }
}